.idea/*
**/__pycache__
2025_03_12_DeepSeek_LLM/create_dataset/test_diagrams
2025_03_12_DeepSeek_LLM/create_dataset/test_diagrams/*
2025_03_12_DeepSeek_LLM/sft_model
2025_03_12_DeepSeek_LLM/sft_model/*
2025_03_12_DeepSeek_LLM/orpo_model
2025_03_12_DeepSeek_LLM/orpo_model/*
2025_03_12_DeepSeek_LLM/fine_tuning/sft_model_diagrams
2025_03_12_DeepSeek_LLM/fine_tuning/sft_model_diagrams/*
2025_03_12_DeepSeek_LLM/fine_tuning/sft_model_diagrams_on_orpo_dataset
2025_03_12_DeepSeek_LLM/fine_tuning/sft_model_diagrams_on_orpo_dataset/*
2025_03_12_DeepSeek_LLM/final_recommend_score/training_data
2025_03_12_DeepSeek_LLM/final_recommend_score/training_data/*
2025_03_12_DeepSeek_LLM/final_recommend_score/temp_test_cnn
2025_03_12_DeepSeek_LLM/final_recommend_score/temp_test_cnn/*
2025_03_12_DeepSeek_LLM/final_recommend_score/temp_test_ae
2025_03_12_DeepSeek_LLM/final_recommend_score/temp_test_ae/*
2025_03_12_DeepSeek_LLM/final_recommend_score/models
2025_03_12_DeepSeek_LLM/final_recommend_score/models/*
2025_04_08_OhLoRA/stylegan_and_segmentation/stylegan/stylegan_model.pth
2025_04_08_OhLoRA/stylegan_and_segmentation/stylegan/synthesize_results
2025_04_08_OhLoRA/stylegan_and_segmentation/stylegan/synthesize_results/*
2025_04_08_OhLoRA/stylegan_and_segmentation/stylegan/synthesize_results_filtered
2025_04_08_OhLoRA/stylegan_and_segmentation/stylegan/synthesize_results_filtered/*
2025_04_08_OhLoRA/stylegan_and_segmentation/cnn/models
2025_04_08_OhLoRA/stylegan_and_segmentation/cnn/models/*
2025_04_08_OhLoRA/stylegan_and_segmentation/segmentation/models
2025_04_08_OhLoRA/stylegan_and_segmentation/segmentation/models/*
2025_04_08_OhLoRA/stylegan_and_segmentation/segmentation/segmentation_results
2025_04_08_OhLoRA/stylegan_and_segmentation/segmentation/segmentation_results/*
2025_04_08_OhLoRA/stylegan_and_segmentation/stylegan_modified/inference_test_during_finetuning
2025_04_08_OhLoRA/stylegan_and_segmentation/stylegan_modified/inference_test_during_finetuning/*
2025_04_08_OhLoRA/stylegan_and_segmentation/stylegan_modified/inference_test_during_finetuning_v2
2025_04_08_OhLoRA/stylegan_and_segmentation/stylegan_modified/inference_test_during_finetuning_v2/*
2025_04_08_OhLoRA/stylegan_and_segmentation/stylegan_modified/inference_test_during_finetuning_v3/*/*/
2025_04_08_OhLoRA/stylegan_and_segmentation/stylegan_modified/inference_test_during_finetuning_v3/*/*/*.png
2025_04_08_OhLoRA/stylegan_and_segmentation/stylegan_modified/inference_test_during_finetuning_v3/*/test_log_vars.csv
2025_04_08_OhLoRA/stylegan_and_segmentation/stylegan_modified/inference_test_during_finetuning_v3/*/test_mus.csv
2025_04_08_OhLoRA/stylegan_and_segmentation/stylegan_modified/inference_test_during_finetuning_v3/*/test_random_gen_result.csv
2025_04_08_OhLoRA/stylegan_and_segmentation/stylegan_modified/inference_test_during_finetuning_v3/*/*.png
2025_04_08_OhLoRA/stylegan_and_segmentation/stylegan_modified/inference_test_during_finetuning_v4
2025_04_08_OhLoRA/stylegan_and_segmentation/stylegan_modified/inference_test_during_finetuning_v4/*
2025_04_08_OhLoRA/stylegan_and_segmentation/stylegan_modified/inference_test_real_fake
2025_04_08_OhLoRA/stylegan_and_segmentation/stylegan_modified/inference_test_real_fake/*
2025_04_08_OhLoRA/stylegan_and_segmentation/stylegan_modified/*.pth
2025_04_08_OhLoRA/stylegan_and_segmentation/stylegan_modified/inference_test_v*
2025_04_08_OhLoRA/stylegan_and_segmentation/stylegan_modified/inference_test_v*/*
2025_04_08_OhLoRA/stylegan_and_segmentation/stylegan_modified/tensor_visualize_test_cnn
2025_04_08_OhLoRA/stylegan_and_segmentation/stylegan_modified/tensor_visualize_test_cnn/*
2025_04_08_OhLoRA/stylegan_and_segmentation/model_structure_pdf/*.gv
2025_04_08_OhLoRA/llm/models/
2025_04_08_OhLoRA/llm/models/*
2025_05_02_OhLoRA_v2/stylegan/models/*.pth
2025_05_02_OhLoRA_v2/stylegan/synthesize_results_filtered
2025_05_02_OhLoRA_v2/stylegan/synthesize_results_filtered/*
2025_05_02_OhLoRA_v2/stylegan/model_structure_pdf/*.gv
2025_05_02_OhLoRA_v2/stylegan/stylegan_finetune_v5/inference_test_before_finetuning
2025_05_02_OhLoRA_v2/stylegan/stylegan_finetune_v5/inference_test_before_finetuning/*
2025_05_02_OhLoRA_v2/stylegan/stylegan_finetune_v5/inference_test_during_finetuning
2025_05_02_OhLoRA_v2/stylegan/stylegan_finetune_v5/inference_test_during_finetuning/*
2025_05_02_OhLoRA_v2/stylegan/stylegan_finetune_v5/inference_test_after_finetuning
2025_05_02_OhLoRA_v2/stylegan/stylegan_finetune_v5/inference_test_after_finetuning/*
2025_05_02_OhLoRA_v2/stylegan/stylegan_finetune_v5/inference_test_real_fake
2025_05_02_OhLoRA_v2/stylegan/stylegan_finetune_v5/inference_test_real_fake/*
2025_05_02_OhLoRA_v2/stylegan/stylegan_finetune_v5/*.pth
2025_05_02_OhLoRA_v2/stylegan/stylegan_vectorfind_v6/inference_test_before_training
2025_05_02_OhLoRA_v2/stylegan/stylegan_vectorfind_v6/inference_test_before_training/*
2025_05_02_OhLoRA_v2/stylegan/stylegan_vectorfind_v6/inference_test_during_training
2025_05_02_OhLoRA_v2/stylegan/stylegan_vectorfind_v6/inference_test_during_training/*
2025_05_02_OhLoRA_v2/stylegan/stylegan_vectorfind_v6/inference_test_after_training
2025_05_02_OhLoRA_v2/stylegan/stylegan_vectorfind_v6/inference_test_after_training/*
2025_05_02_OhLoRA_v2/stylegan/stylegan_vectorfind_v6/*.pth
2025_05_02_OhLoRA_v2/stylegan/stylegan_vectorfind_v7/inference_test_before_training
2025_05_02_OhLoRA_v2/stylegan/stylegan_vectorfind_v7/inference_test_before_training/*
2025_05_02_OhLoRA_v2/stylegan/stylegan_vectorfind_v7/inference_test_during_training
2025_05_02_OhLoRA_v2/stylegan/stylegan_vectorfind_v7/inference_test_during_training/*
2025_05_02_OhLoRA_v2/stylegan/stylegan_vectorfind_v7/inference_test_after_training
2025_05_02_OhLoRA_v2/stylegan/stylegan_vectorfind_v7/inference_test_after_training/*
2025_05_02_OhLoRA_v2/stylegan/stylegan_vectorfind_v7/*.pth
2025_05_02_OhLoRA_v2/llm/models
2025_05_02_OhLoRA_v2/llm/models/*
2025_05_02_OhLoRA_v2/final_product/ohlora_images
2025_05_02_OhLoRA_v2/final_product/ohlora_images/*
2025_05_22_Improve_EffiSegNet/Kvasir-SEG/train
2025_05_22_Improve_EffiSegNet/Kvasir-SEG/train/*
2025_05_22_Improve_EffiSegNet/Kvasir-SEG/validation
2025_05_22_Improve_EffiSegNet/Kvasir-SEG/validation/*
2025_05_22_Improve_EffiSegNet/Kvasir-SEG/test
2025_05_22_Improve_EffiSegNet/Kvasir-SEG/test/*
2025_05_22_Improve_EffiSegNet/outputs
2025_05_22_Improve_EffiSegNet/outputs/*
2025_05_22_Improve_EffiSegNet/logs
2025_05_22_Improve_EffiSegNet/logs/*
2025_05_22_Improve_EffiSegNet/effisegnet_base/inference_result
2025_05_22_Improve_EffiSegNet/effisegnet_base/inference_result/*
2025_05_22_Improve_EffiSegNet/effisegnet_base/inference_result*
2025_05_22_Improve_EffiSegNet/effisegnet_base/inference_result*/*
2025_05_22_Improve_EffiSegNet/effisegnet_improved/inference_result
2025_05_22_Improve_EffiSegNet/effisegnet_improved/inference_result/*
2025_05_22_Improve_EffiSegNet/effisegnet_improved/inference_result*
2025_05_22_Improve_EffiSegNet/effisegnet_improved/inference_result*/*
2025_05_26_OhLoRA_v3/stylegan/models/*.pt
2025_05_26_OhLoRA_v3/stylegan/models/*.pth
2025_05_26_OhLoRA_v3/stylegan/generated_face_images
2025_05_26_OhLoRA_v3/stylegan/generated_face_images/*
2025_05_26_OhLoRA_v3/stylegan/generated_face_images_filtered
2025_05_26_OhLoRA_v3/stylegan/generated_face_images_filtered/*
2025_05_26_OhLoRA_v3/stylegan/model_structure_pdf/*.gv
2025_05_26_OhLoRA_v3/stylegan/stylegan_finetune_v8/inference_test_during_finetuning
2025_05_26_OhLoRA_v3/stylegan/stylegan_finetune_v8/inference_test_during_finetuning/*
2025_05_26_OhLoRA_v3/stylegan/stylegan_finetune_v8/inference_test_real_fake
2025_05_26_OhLoRA_v3/stylegan/stylegan_finetune_v8/inference_test_real_fake/*
2025_05_26_OhLoRA_v3/property_score_cnn/models/*.pt
2025_05_26_OhLoRA_v3/property_score_cnn/models/*.pth
2025_05_26_OhLoRA_v3/property_score_cnn/segmentation/segmentation_results
2025_05_26_OhLoRA_v3/property_score_cnn/segmentation/segmentation_results/*
2025_05_26_OhLoRA_v3/property_score_cnn/model_structure_pdf/*.gv
2025_05_26_OhLoRA_v3/v8_property_scores/generated_images
2025_05_26_OhLoRA_v3/stylegan/stylegan_vectorfind_v8/inference_test_before_training
2025_05_26_OhLoRA_v3/stylegan/stylegan_vectorfind_v8/inference_test_before_training/*
2025_05_26_OhLoRA_v3/stylegan/stylegan_vectorfind_v8/inference_test_during_training
2025_05_26_OhLoRA_v3/stylegan/stylegan_vectorfind_v8/inference_test_during_training/*
2025_05_26_OhLoRA_v3/stylegan/stylegan_vectorfind_v8/inference_test_after_training
2025_05_26_OhLoRA_v3/stylegan/stylegan_vectorfind_v8/inference_test_after_training/*
2025_05_26_OhLoRA_v3/stylegan/stylegan_vectorfind_v8/*.pth
2025_05_26_OhLoRA_v3/stylegan/stylegan_vectorfind_v8/image_generation_report/latent_*.csv
2025_05_26_OhLoRA_v3/llm/models
2025_05_26_OhLoRA_v3/llm/models/*
2025_06_07_OhLoRA_v3_1/property_score_cnn/models/*.pt
2025_06_07_OhLoRA_v3_1/property_score_cnn/models/*.pth
2025_06_07_OhLoRA_v3_1/v9_property_scores/generated_images
2025_06_07_OhLoRA_v3_1/stylegan/models/*.pt
2025_06_07_OhLoRA_v3_1/stylegan/models/*.pth
2025_06_07_OhLoRA_v3_1/stylegan/generated_face_images_filtered
2025_06_07_OhLoRA_v3_1/stylegan/generated_face_images_filtered/*
2025_06_07_OhLoRA_v3_1/stylegan/model_structure_pdf/*.gv
2025_06_07_OhLoRA_v3_1/stylegan/stylegan_vectorfind_v9/inference_test_before_training
2025_06_07_OhLoRA_v3_1/stylegan/stylegan_vectorfind_v9/inference_test_before_training/*
2025_06_07_OhLoRA_v3_1/stylegan/stylegan_vectorfind_v9/inference_test_during_training
2025_06_07_OhLoRA_v3_1/stylegan/stylegan_vectorfind_v9/inference_test_during_training/*
2025_06_07_OhLoRA_v3_1/stylegan/stylegan_vectorfind_v9/inference_test_after_training
2025_06_07_OhLoRA_v3_1/stylegan/stylegan_vectorfind_v9/inference_test_after_training/*
2025_06_07_OhLoRA_v3_1/stylegan/stylegan_vectorfind_v9/*.pth
2025_06_07_OhLoRA_v3_1/stylegan/stylegan_vectorfind_v9/image_generation_report/latent_*.csv
2025_06_07_OhLoRA_v3_1/stylegan/stylegan_finetune_v9/inference_test_real_fake
2025_06_07_OhLoRA_v3_1/stylegan/stylegan_finetune_v9/inference_test_real_fake/*
2025_06_24_OhLoRA_v4/stylegan/models/*.pt
2025_06_24_OhLoRA_v4/stylegan/models/*.pth
2025_06_24_OhLoRA_v4/stylegan/stylegan_vectorfind_v7/inference_test_after_training
2025_06_24_OhLoRA_v4/stylegan/stylegan_vectorfind_v7/inference_test_after_training/*
2025_06_24_OhLoRA_v4/stylegan/stylegan_vectorfind_v7/*.pth
2025_06_24_OhLoRA_v4/stylegan/stylegan_vectorfind_v8/inference_test_after_training
2025_06_24_OhLoRA_v4/stylegan/stylegan_vectorfind_v8/inference_test_after_training/*
2025_06_24_OhLoRA_v4/stylegan/stylegan_vectorfind_v8/*.pth
2025_06_24_OhLoRA_v4/stylegan/generated_face_images_filtered
2025_06_24_OhLoRA_v4/stylegan/generated_face_images_filtered/*
2025_06_24_OhLoRA_v4/segmentation/models
2025_06_24_OhLoRA_v4/segmentation/models/*
2025_06_24_OhLoRA_v4/segmentation/segmentation_results_facexformer
2025_06_24_OhLoRA_v4/segmentation/segmentation_results_facexformer/*
2025_06_24_OhLoRA_v4/segmentation/model_structure_pdf/*.gv
2025_06_24_OhLoRA_v4/segmentation/segmentation_results_ohlora_v4
2025_06_24_OhLoRA_v4/segmentation/segmentation_results_ohlora_v4/*
2025_06_24_OhLoRA_v4/ombre/stylegan_vectorfind_v7
2025_06_24_OhLoRA_v4/ombre/stylegan_vectorfind_v7/*
2025_06_24_OhLoRA_v4/ombre/stylegan_vectorfind_v8
2025_06_24_OhLoRA_v4/ombre/stylegan_vectorfind_v8/*
2025_06_24_OhLoRA_v4/ombre/test_gif
2025_06_24_OhLoRA_v4/ombre/test_gif/*
2025_06_24_OhLoRA_v4/llm/models
2025_06_24_OhLoRA_v4/llm/models/*
venv
venv/*
requirements_v3.10.11.txt