.idea/*
**/__pycache__
2025_03_12_DeepSeek_LLM/create_dataset/test_diagrams
2025_03_12_DeepSeek_LLM/create_dataset/test_diagrams/*
2025_03_12_DeepSeek_LLM/sft_model
2025_03_12_DeepSeek_LLM/sft_model/*
2025_03_12_DeepSeek_LLM/orpo_model
2025_03_12_DeepSeek_LLM/orpo_model/*
2025_03_12_DeepSeek_LLM/fine_tuning/sft_model_diagrams
2025_03_12_DeepSeek_LLM/fine_tuning/sft_model_diagrams/*
2025_03_12_DeepSeek_LLM/fine_tuning/sft_model_diagrams_on_orpo_dataset
2025_03_12_DeepSeek_LLM/fine_tuning/sft_model_diagrams_on_orpo_dataset/*
2025_03_12_DeepSeek_LLM/final_recommend_score/training_data
2025_03_12_DeepSeek_LLM/final_recommend_score/training_data/*
2025_03_12_DeepSeek_LLM/final_recommend_score/temp_test_cnn
2025_03_12_DeepSeek_LLM/final_recommend_score/temp_test_cnn/*
2025_03_12_DeepSeek_LLM/final_recommend_score/temp_test_ae
2025_03_12_DeepSeek_LLM/final_recommend_score/temp_test_ae/*
2025_03_12_DeepSeek_LLM/final_recommend_score/models
2025_03_12_DeepSeek_LLM/final_recommend_score/models/*
2025_04_08_OhLoRA/stylegan_and_segmentation/stylegan/stylegan_model.pth
2025_04_08_OhLoRA/stylegan_and_segmentation/stylegan/synthesize_results
2025_04_08_OhLoRA/stylegan_and_segmentation/stylegan/synthesize_results/*
2025_04_08_OhLoRA/stylegan_and_segmentation/stylegan/synthesize_results_filtered
2025_04_08_OhLoRA/stylegan_and_segmentation/stylegan/synthesize_results_filtered/*
2025_04_08_OhLoRA/stylegan_and_segmentation/cnn/models
2025_04_08_OhLoRA/stylegan_and_segmentation/cnn/models/*
2025_04_08_OhLoRA/stylegan_and_segmentation/segmentation/models
2025_04_08_OhLoRA/stylegan_and_segmentation/segmentation/models/*
2025_04_08_OhLoRA/stylegan_and_segmentation/segmentation/segmentation_results
2025_04_08_OhLoRA/stylegan_and_segmentation/segmentation/segmentation_results/*
2025_04_08_OhLoRA/stylegan_and_segmentation/stylegan_modified/inference_test_during_finetuning
2025_04_08_OhLoRA/stylegan_and_segmentation/stylegan_modified/inference_test_during_finetuning/*
2025_04_08_OhLoRA/stylegan_and_segmentation/stylegan_modified/inference_test_during_finetuning_v2
2025_04_08_OhLoRA/stylegan_and_segmentation/stylegan_modified/inference_test_during_finetuning_v2/*
2025_04_08_OhLoRA/stylegan_and_segmentation/stylegan_modified/inference_test_real_fake
2025_04_08_OhLoRA/stylegan_and_segmentation/stylegan_modified/inference_test_real_fake/*
2025_04_08_OhLoRA/stylegan_and_segmentation/stylegan_modified/*.pth
2025_04_08_OhLoRA/stylegan_and_segmentation/stylegan_modified/inference_test_v*
2025_04_08_OhLoRA/stylegan_and_segmentation/stylegan_modified/inference_test_v*/*
2025_04_08_OhLoRA/stylegan_and_segmentation/stylegan_modified/tensor_visualize_test_cnn
2025_04_08_OhLoRA/stylegan_and_segmentation/stylegan_modified/tensor_visualize_test_cnn/*
2025_04_08_OhLoRA/stylegan_and_segmentation/model_structure_pdf/*.gv
venv
venv/*
requirements_v3.10.11.txt